*{
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(4, 18, 52);
}
.tasks{
    background-color: white;
    text-align: center;
    width: 50%;
    margin: auto;
    margin-top: 100px;
    direction: rtl;
    padding-bottom:2px;;
}

.tasks .title{
    background-color: #3F51B5;
    padding: 7px;
    display: flex;
    direction: ltr;
    justify-content: center;
}
.tasks .task{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2px;
    padding-bottom: 15px;
  transition: 0.5s;
  /* background-color: #28da3770; */
    border-bottom:1px solid black;
}
.done{
    background-color: #28da3770;
}
.tasks .title #add-btn{
    position: absolute;
    right: 385px;
    top: 100px;
    color: #3F51B5;
    font-weight: bold;
}
.tasks .task:hover{

    box-shadow:0px 5px 5px rgba(0, 0, 0,0.5);
}
.tasks .task .name{
    margin: 0 10px;
    font-size: 20px;
    font-weight:bold;

}
.tasks .task span{
    font-size: 10px;
}
.tasks .btn{
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 50%;
    color:white;
}
.tasks .btn-add{
    width: 25px;
    height: 25px;
    border: none;
    border-radius: 50%;
    position: absolute;
    right: 97px;
    top: 61px;
    font-weight: bold;
}